{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <form method="POST" style="margin: 50px; background-color: rgb(33, 38, 49); border-radius: 20px; max-width: 600px; max-height: 500px; padding-top: 30px; padding-bottom: 30px; border: 4px solid rgb(1, 1, 17);">
    <h1 style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Formulario de contacto</h1>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class='message {{ message.tags }}'>{{ message }} </div>
        {% endfor %}
    {% endif %}
    <table style="color: white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
        {% csrf_token %}
        {{ form }}
    </table>
    <input type="submit" value="Enviar">
    </form>
</center>


{% endblock%}