{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="p-5 bg-light">
    <div class="container">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h1>Bienvenido a este sitio web!!</h1>
            <b>(Esta es una prueba de sitio web).</b>
            <p>Empeza a navegar eligiendo una de las opciones disponibles en la barra superior.</p>
            
        </div>
    </div>

</div>

{% endblock %}